<form [formGroup]="form" (ngSubmit)="onSubmit()" >
  <div class="row">
    <div class="col s12">
      <h1>Conecte-se</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l6">
      <mat-form-field appearance="fill" hintLabel="obrigatório">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" placeholder="email@valido.com.br" formControlName="email" required>
        <mat-error *ngIf="email.errors?.['required']">Email é obrigatório</mat-error>
        <mat-error *ngIf="email.errors?.['email']">Deve ser utilizado um e-mail válido</mat-error>
      </mat-form-field>
    </div>
    <div class="col s12 l6">
      <mat-form-field hintLabel="obrigatória" appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput maxlength="14" placeholder="senha segura"
                formControlName="password" [type]="hidePassword ? 'password' : 'text'">
        <mat-error *ngIf="password.errors?.['required']">A senha é obrigatória obrigatória</mat-error>
        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l12">
      <button type="submit" mat-flat-button color="primary" class="right" [disabled]="form.invalid">
        <mat-icon>login</mat-icon>
        Entrar
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l6">
      <p class="left">Ainda não possuí uma conta? <a routerLink="/signup">Clique aqui</a> para se cadastrar.</p>
    </div>
  </div>
  
</form>
